body {//aに対して
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin: 0;
    padding: 0;
}

header, footer {//直下
    margin: 0px;
    padding: 0em;
}

header {
  // background-color: #f74d18;
  overflow: hidden;
  position: sticky;
  top: 0;
  color: #fff;
}

.navigation-wrapper {
  min-width: 1200px;
  background-color: #f74d18;
}
.container {
  width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding: 1em 0em 0em 0em;
}

footer {
  background-color: #fff;
}

nav {// header & footer
  overflow: hidden;
  display: flex;//初期値row
  flex-direction: row; //横並びさせる
  justify-content: space-between;
  height: 3em;
}

.haeder-ul {
  display: flex;
  flex-direction: row;
  // flex-wrap: wrap;
}

nav a {//aの中にあるすべてのbに対して
    color: #fff;
    text-decoration: none;
    font-size: medium;
    display:block;

    &:hover {
      opacity: 0.8;
    }
}

nav, ul{//aとbに対して
  margin: 0;
  padding: 0;
}

nav li {//aの中にあるすべてのbに対して
    font-size: large;
    margin-right: 5px;
    flex-grow: 1;//伸び率
    text-align: center;
    margin: 10px
}

ul, ol {//aとbに対して
    list-style: none;
    padding-left: 0;
}

main {//aに対して
    padding: 20px;
}

h1 {
    color: yellow;
    margin: 0;
    margin-bottom: 5px;
    font-size: 20.5pt;
    font-weight: normal;
}

h2 {
  color: blue;
}

.grid {
  display: grid;
  grid-template-rows: 45px 40px;
  grid-template-columns: 162px 1fr 100px;
  grid-template-areas:
    "areaA areaB areaD"
    "areaA areaB areaD";
  // grid-gap: 1em;
  padding: 0em;
}

.itemA {
    grid-area: areaA;
    background: #ff5722;

    img {
      padding: 1em 0em;
    }
}

.itemB {
    grid-area: areaB;
    background: #ff5722;
}

.itemD {
    grid-area: areaD;
    background: #ff5722;
    display: flex;
    // align-items: center;
    justify-content: center;

    a {
      padding: 1em 0em;
    }
}

a[href='#top'] {
    font-size: small;
    font-weight: bold;
    margin-left: 20px;
}
.wrapper {
  width: 100%;
}
.form__search {
  width: 100%;
  background-color: #fff;
  border-radius: 5px;
}
header form {
  padding: 0px 10px;
}

form input {
  background-color: #fff;
  padding: 10px;
  font-size: 16px;
  border: 2px solid #FFF;
  width: 87%;
  outline: 0;
}

form button {
  font-size: 16px;
  background-color: #f74d18;
  color: #FFF;
  border: 2px solid #f74d18;
  border-radius: 1px;
  min-width: 60px;
  max-width: 190px;

  &:hover {
    opacity: 0.7;
  }
}

.fa-search{
  font-size: 16px;
  background-color: #f74d18;
  color: #FFF;
  border: 2px solid #f74d18;
  min-width: 60px;
  max-width: 190px;

  &:hover {
    opacity: 0.7;
  }
}

.form__category {
  margin-top: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.fa-shopping-cart {
  color: #fff;
}

/* Media Queries */

@media (prefers-reduced-motion) {
    body {
        transition: none;
    }
}

@media (min-resolution: 3dppx) {

}

@media (orientation: landscape) {

    body {
        background: yellow;
    }

    header {
        // background-color: #f74d18;

      .grid-wrap {
        background: #ff5722;
      }
    }

    footer {
        background-color: #fff;
    }
}


@media (min-width: 800px) {

}

/* Between 400px and 800px */
@media (min-width: 400px) and (max-width: 800px) {

}

@media (max-width: 450px) {
    nav {
      flex-direction: column; //横並びさせる
    }
    nav ul {
        flex-direction: column;
    }

    nav a {
        font-size: small;
        font-weight: bold;
    }
    .haeder-ul {
      flex-direction: column;
    }
}
